virt/

api_keys/openai
api_keys/elevenlabs

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.swp
*~
.DS_Store

src/__pycache__/
src/*.pyc
src/*.pyo
src/*.pyd
topics_used.txt